{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    "espower", 
    "transform-runtime", 
    "transform-decorators-legacy", 
    ["import", 
      [
        {
          "libraryName": "antd",
          "style": true
        }
      ]
    ]
  ],
  "env": {
      
  }
}