{
    "presets": ["es2015", "stage-0", "react"],
    "plugins": ["espower", "transform-runtime", "transform-decorators-legacy", ["antd", [{ "libraryName": "antd" }]], ["webpack-alias", {"config": "${process.cwd()}/webpack-test.config.js"}]],
    "env": {
        
    }
}