{
  "presets": [
    ["@babel/preset-env",{
      "useBuiltIns": "usage",
      "targets": {
        "chrome": "49",
        "ie": "11"
      },
      "corejs": 2
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime",{
      "absoluteRuntime": false,
      "corejs": 2,
      "helpers": true,
      "regenerator": true,
      "useESModules": false
    }],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    // "transform-decorators-legacy",
    // "@babel/plugin-syntax-dynamic-import",
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": true // `style: true` 会加载 less 文件
    }]
  ]
}