# /node_modules/* and /bower_components/* ignored by default

/*
!app

/test

/app/components/draw/__mocks__/draw.js

/app/configs/__mocks__/ajax.js
/app/resource

# app/configs
# app/components
# app/pages