/*
 reset antd
*/
.im-wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: url(../images/leftBg.jpg) no-repeat center;
  background-size: cover;
  background-clip: border-box;
  height: 100%;
  width: 100%;
  text-align: center;
}
#im {
  width: 100%;
  height: 100%;
  border: 1px solid #e9e9e9;
  display: flex;
  flex-direction: row;
  box-shadow: -1px -1px 4px 0px rgba(0, 0, 0, 0.2);
}
#im .im-l {
  display: flex;
  flex-direction: column;
  width: 150px;
  border-right: 1px solid #e9e9e9;
  flex: 0 0 150px;
  height: 100%;
}
#im .im-l .search {
  padding: 5px;
  border-bottom: rgba(90, 141, 239, 0.2);
  height: 40px;
}
#im .im-l ul {
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#im .im-l ul li {
  cursor: pointer;
  padding: 5px;
  color: #fff;
  text-align: left;
}
#im .im-l ul li:hover {
  background-color: rgba(90, 141, 239, 0.2);
}
#im .im-l ul li img {
  vertical-align: middle;
  margin-right: 10px;
  width: 30px;
}
#im .im-l ul li .anticon {
  font-size: 30px;
  margin-right: 5px;
  vertical-align: middle;
}
#im .im-l ul .on {
  background-color: #f7f7f7;
  color: #666;
}
#im .im-r {
  display: flex;
  flex: auto;
  background-color: #f7f7f7;
  position: relative;
  height: 100%;
}
#im .im-r .im-r-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}
#im .im-r .im-r-box .operate {
  padding: 5px;
  border-bottom: 1px solid #e9e9e9;
  height: 40px;
  flex: 0 0 40px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}
#im .im-r .im-r-box .operate .totle {
  font-size: 14px;
  color: #5a8def;
  vertical-align: middle;
}
#im .im-r .im-r-box .operate .totle .count {
  font-size: 20px;
  margin-left: 5px;
}
#im .im-r .im-r-box .operate i {
  cursor: pointer;
  font-size: 16px;
  line-height: 32px;
}
#im .im-r .im-r-box .record-list {
  padding: 10px;
  overflow-y: auto;
  flex: auto;
}
#im .im-r .im-r-box .record-list .system {
  color: #5a8def;
  padding: 5px;
}
#im .im-r .im-r-box .record-list .system .time {
  margin-left: 10px;
}
#im .im-r .im-r-box .record-list .item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
#im .im-r .im-r-box .record-list .item .item-avatar {
  flex: 0 0 40px;
  width: 40px;
}
#im .im-r .im-r-box .record-list .item .item-avatar .anticon {
  font-size: 30px;
}
#im .im-r .im-r-box .record-list .item .item-avatar img {
  width: 30px;
}
#im .im-r .im-r-box .record-list .item .item-content {
  flex: 0 0 auto;
}
#im .im-r .im-r-box .record-list .item .item-content .name {
  margin-right: 5px;
  color: #999;
}
#im .im-r .im-r-box .record-list .item .item-content .time {
  color: #999;
}
#im .im-r .im-r-box .record-list .item .item-content .content {
  background-color: #fff;
  padding: 5px 10px;
  position: relative;
  border: 1px solid #d9d9d9;
  display: inline-block;
}
#im .im-r .im-r-box .record-list .item .arrow {
  position: absolute;
  left: -11px;
  top: 5px;
}
#im .im-r .im-r-box .record-list .item .arrow i,
#im .im-r .im-r-box .record-list .item .arrow em {
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 7px;
  border-style: solid;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
#im .im-r .im-r-box .record-list .item .arrow i {
  border-width: 3px;
  border-top-color: #d9d9d9;
  color: #d9d9d9;
  margin-left: 4px;
}
#im .im-r .im-r-box .record-list .item .arrow em {
  border-top-color: #fff;
  margin: 1px 0 0 -4px;
  color: #fff;
  border-width: 4px;
}
#im .im-r .im-r-box .record-list .item-r {
  flex-direction: row-reverse;
}
#im .im-r .im-r-box .record-list .item-r .item-avatar {
  text-align: right;
}
#im .im-r .im-r-box .record-list .item-r .item-content .name {
  margin-right: 5px;
  margin-left: 0;
}
#im .im-r .im-r-box .record-list .item-r .item-content .content {
  background-color: #e9e9e9;
  border: 1px solid #d9d9d9;
}
#im .im-r .im-r-box .record-list .item-r .arrow {
  right: -11px;
  left: auto;
}
#im .im-r .im-r-box .record-list .item-r .arrow i,
#im .im-r .im-r-box .record-list .item-r .arrow em {
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
#im .im-r .im-r-box .record-list .item-r .arrow i {
  border-top-color: #d9d9d9;
  color: #d9d9d9;
  margin-right: 4px;
  margin-left: 0;
}
#im .im-r .im-r-box .record-list .item-r .arrow em {
  border-top-color: #e9e9e9;
  margin: 1px 0 0 -14px;
  color: #e9e9e9;
}
#im .im-r .im-r-box .im-b {
  background-color: #fff;
  border-top: 1px solid #e9e9e9;
  height: 110px;
}
#im .im-r .im-r-box .im-b .box .tool {
  height: 36px;
  display: flex;
  justify-content: space-between;
}
#im .im-r .im-r-box .im-b .box .tool .tools {
  cursor: pointer;
  margin-left: 10px;
}
#im .im-r .im-r-box .im-b .box .tool .anticon {
  font-size: 20px;
  line-height: 36px;
}
#im .im-r .im-r-box .im-b .box .msg-box .ant-row {
  margin-bottom: 0;
}
#im .im-r .im-r-box .im-b .box .msg-box .ant-row .ant-input {
  border: 0;
  padding: 0 5px;
  resize: none;
}
#im .im-r .im-r-box .im-b .box .msg-box .ant-row .ant-input:focus {
  border: 0;
  box-shadow: none;
}
#im .im-r .im-r-box .im-b .box .send-box {
  text-align: right;
  padding-right: 5px;
  margin-bottom: 5px;
}
#im .im-r .im-r-box .im-b .box .send-box button {
  margin-left: 5px;
}
#im-min {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 280px;
  cursor: pointer;
  border: 1px solid #e9e9e9;
  background: #f7f7f7;
}
#im-min:hover {
  background: rgba(90, 141, 239, 0.2);
}
#im-min .box {
  padding: 10px;
}
#im-min .box .des {
  margin-left: 10px;
}
#im-min .box i {
  font-size: 16px;
  vertical-align: middle;
}
#emojis {
  width: 379px;
  height: 175px;
  background-color: #fff;
  border: 1px solid #e9e9e9;
}
#emojis .face {
  display: inline-block;
  background: #fff;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: -1px 0 0 -1px;
  position: relative;
  z-index: 1;
  float: left;
}
#emojis .face:hover {
  border: 1px solid #5a8def;
  z-index: 2;
}
#emojis .face img {
  max-width: 30px;
}
