.map-marker{
    display: block;
    width: 20px;
    height: 30px;
    color: #FFFFFF;
    text-align: center;
    line-height: 22px;
}
.map-marker-order{
    transform: scale(0.9);
}
.map-marker-b{
    background: url("http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png") no-repeat;
}
.map-marker-r{
    background: url("http://webapi.amap.com/theme/v1.3/markers/n/mark_r.png") no-repeat;
}
.map-marker-block-black{
    position: relative;
    background-color: rgba(0,0,0,0.8);
    color: #FFFFFF;
    padding: 3px 5px;
    border-radius: 4px;
}
.map-marker-block-black:after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    border-width: 8px;
    border-style: solid;
    border-color: transparent;
    border-top-color: rgba(0,0,0,0.8);
    margin-left: -8px;
}